*{
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #FADFA1;
 
}
header {
    width: 100%;
    background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-food-festival-food-promotion-banner-poster-picture-image_1092303.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* LOGO */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0 3% 0;
}

.logo img{
    width: 8%;
    height: 8%;
    border-radius: 100px;
    border: solid black 2px;
}

/* BARRA NAVEGACION */
button{
    padding: 5px 10px;
    background-color: #FFF4EA;
    color: #7EACB5;
    border: none;
}

.barraNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin: 0 3% 0 3%;
}

.barraNav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.barraNav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: large;
    font-weight: bold;
}

nav{
    padding-bottom: 3%;
    width: 100%;
}

#searchForm button{
    font-size: smaller;
}

h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    color: #333;
    padding: 15px;
}

#recetas article{
    padding: 1%;
}

#cargarMas{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5%;
}

footer{
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

#listaCategorias {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    padding: 0 0 5% 7%;
}
.categoria-item {
    width: 80%;
    padding: 15px;
    background-color: #FFC857;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}
.categoria-item:hover {
    background-color: #E0A400;
}

.volver{
    border: solid black 3px;
    width: 145px;
    padding: 1%;
    margin: 5% 0 5% 3%;
    background-color: rgb(201, 104, 104);;
}

a{
    font-weight: bold; 
    color: black;
}

img{
    width: 400px; height: auto;
}

article{
    margin: 10px;
}

/* LOGIN */
.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mail{
    padding: 10px;
}

.password{
    padding: 10px;
}

.buttonLog{
    margin-bottom: 30px;
}

/* REGISTRO */
.formRegistrarse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.terminosCondiciones{
    margin-bottom: 1%;
}

h3{
    margin-bottom: 10%;
}

/* MEDIA QUERIES */
@media (min-width: 900px){
    .barraNav{
        flex-direction: row;
        justify-content: space-between;
        padding-right: 3%;
        margin: 0 2% 0 5%;
    }

    nav{
        width: 70%;
        padding: 0;
    }
}


